.container{
    background-color:rgb(4,43,189);
    background-image: url("../assets/pictures/logo.jpg"), url("../assets/pictures/sc30.png ");
    background-repeat: no-repeat,no-repeat;
    background-position: 95%0%, 18%25%;
    background-blend-mode: lighten;
}
header{
    background-color:gold;
    height: 100vh;
    margin-left: 25%;
    margin-right: 25%;
    
}

h1{
    padding:10px;
    text-align: center;
    font-weight:bold;
    font-size: 40px;
}

#start{
    background-color:rgb(4,43,189);
    padding: 15px 40px;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 42%;
}

#question{

    background-color:rgb(4,43,189);
    height: 100vh;
    color:gold;
    text-align:center;
}